@import url('https://fonts.googleapis.com/css2?family=Forum&family=Libre+Caslon+Text&display=swap');

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-family: 'Libre Caslon Text', serif;
color: black;
}

header {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Forum', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weekSummary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 8px;
  grid-auto-flow: dense;
}

.categoryNews {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-row-gap:1rem;
  margin-top: 1rem;
}

.categoryNews .categoryHeading {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

.categoryHeadingTitle {
  font-size: 0.8rem;
  display: block;
  position: absolute;
  background-color: white;
  color: lightslategray;
  padding-right: 5px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

.categoryHeading div {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: white;;
  margin-top: 0.4rem;
}

.categoryNews {
  color: black;
  display: grid;
}

.categoryNews .categoryNewsArticles {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: white;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 1rem;
}

.categoryNews article .enclosure {
  display: none;
}

.categoryNews article h1 {
  font-size: 1.3rem;
  margin-top: 0px;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

.articleSummary {
  font-size: normal;
  
}


.contentSnippet {
  font-size: normal;
  display:none;
}

article .articleInfo {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.categoryNews .source {
  font-size: small;
  color: lightslategrey;
  text-transform: uppercase;
}

.categoryNews .category {
  color: lightslategray;
  text-transform: lowercase;
}

.categoryNews article .date {
  font-size: normal;
}

.categoryNews a:link {
  color: black;
  text-decoration: none;
}

.categoryNews a:visited {
  color: black;
  text-decoration: none;
}

.articleCoverContainer {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

/* */

.articles {
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
}

.articles article img {
  display: none;
}

.articles h1 {
  font-size: 1.3rem;
  margin-top: 0px;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

.articles p {
  font-size: normal;
  display:none;
}

article .articleInfo {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.articles .source {
  font-size: small;
  color: lightslategrey;
  text-transform: uppercase;
}

.articles .category {
  color: lightslategray;
  text-transform: lowercase;
}

.articles article .date {
  font-size: normal;
}

.articles a:link {
  color: black;
  text-decoration: none;
}

.articles a:visited {
  color: black;
  text-decoration: none;
}

.articles article {
  /*border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgray;*/
}

/* Extra-wide grid-posts */
.articles article:nth-child(31n + 1) {
  grid-column: 1 / -1;
}
.articles article:nth-child(16n + 2) {
  grid-column: -3 / -1;
}
.articles article:nth-child(16n + 10) {
  grid-column: 1 / -2;
}

.articles article:nth-child(31n + 1) h1 {
  font-size: 3rem;
}
.articles article:nth-child(16n + 2) h1 {
  font-size: 2rem;
}
.articles article:nth-child(16n + 10) h1 {
  font-size: 2rem;
}

.articles article:nth-child(31n + 1) img {
  display:none;
  object-fit: cover;
  filter: opacity(80%) grayscale(50%);
}
.articles article:nth-child(16n + 2) img {
  display:none;
  object-fit: cover;
  filter: grayscale(100%);
}
.articles article:nth-child(16n + 10) img {
  display:none;
  object-fit: cover;
  filter: grayscale(100%);
}

.articles article:nth-child(31n + 1) p {
  display:initial;
}
.articles article:nth-child(16n + 2) p {
  display:initial;
}
.articles article:nth-child(16n + 10) p {
  display:initial;
}

/* Single column display for phones */
@media (max-width: 459px) {
  .articles {
    display: flex;
    flex-direction: column;
  }
  .articles article h1 {
    font-size: 1rem;
  }

  .weekSummary {
    font-size: smaller;
    display: none;
  }

  .categoryNews {
    display: flex;
    flex-direction: column;
  }
  
  .categoryNews .categoryNewsArticles {
    padding-left: 0rem;
    border-left: none;
  }
  .categoryHeading {
    padding-bottom: 1rem;
  }

  .categoryNews article h1 {
    font-size: 1rem;
  }
}